@use "../common" as *;
@use "../presets" as *;

.header {
  background-color: $bg-dark;
  height: 70px;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.logo {
  &__link {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &__title {
    color: $color-white;
    font-size: $logo-title-font-size;
    line-height: $logo-title-line-hight;
  }
}

.menu {
  @include lg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: $color-white;

    animation-duration: 0.5s;
    animation-name: open;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 75px;
    @include lg {
      gap: 40px;
    }
    @include lg {
      flex-direction: column;
      padding-top: 80px;
    }
    &-item {
      &__link {
        color: $color-white;
        transition: 0.2s;
        @include lg {
          color: $color-black;
        }
        &:hover {
          color: $color-accent;
        }
      }
    }
  }
}

.accent {
  color: $color-accent;
}

@keyframes open {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}