@use "../common" as *;
@use "../presets" as *;

.offers {
  padding-top: 75px;
  padding-bottom: 80px;
  background-color: $color-footer;
  @include md {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    background-color: $color-white;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }
    &-image {
      img {
        width: 100%;
      }
    }
    &-info {
      padding: 20px;
    }
  }
}