$bg-dark: #222222;

$bold-font-weight: 700;
$regular-font-weight: 400;

$color-accent: #ffae00;
$color-white: #ffffff;
$color-description: #e0e0e0;
$color-black: #222222;
$color-footer: #eeeeee;

$description-font-size: 15px;
$description-line-hight: 24px;

$title-font-size: 20px;
$title-line-hight: 40px;

$header-title-font-size: 15px;
$header-title-line-hight: 19px;

$logo-title-font-size: 18px;
$logo-title-line-hight: 19px;

$about-title-font-size: 60px;
$about-title-line-hight: 19px;

$about-description-font-size: 16px;
$about-description-line-hight: 26px;

$main-heading-font-size: 35px;
$main-heading-line-hight: 40px;

$footer-font-size: 15px;
$footer-line-hight: 24px;
